.custom_100 {
    min-height: calc(100vh - 70px);
}

.custom_100 div a {
    display: table;
    border: none;
    width: 100%;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.custom_100 div a > div {
    display: table-cell;
        vertical-align: middle;
}

.custom_100 div.div_100 {
    min-height: calc(100vh - 70px);
    padding: 0 !important;
}

.custom_100 div.div_100 a {
    min-height: calc(100vh - 70px);
}

.custom_100 div.div_50 {
    min-height: calc(50vh - calc(70px / 2));
    padding: 0 !important;
}

.custom_100 div.div_50 a {
    min-height: calc(50vh - calc(70px / 2));
}

.custom_100 div.div_33 {
    min-height: calc(33vh - calc(62px / 3));
    padding: 0 !important;
}

.custom_100 div.div_33 a {
    min-height: calc(33vh - calc(62px / 3));
}

.custom_100 div a:hover {
    -moz-box-shadow:    inset 0 0 20px #808080;
   -webkit-box-shadow: inset 0 0 20px #808080;
   box-shadow:         inset 0 0 20px #808080;

   text-decoration: none;
}

.custom_100 .facebook {
    background-color: #3b5998;
}

.custom_100 .instagram {
    background-color: #FCAF45;
}

.custom_100 .linkedin {
    background-color: #2867B2;
}

.custom_100 .academia {
    background-color: #ffffff;
}

.custom_100 .twitter {
    background-color: #1DA1F2;
}

.custom_100 .youtube {
    background-color: #FF0000;
}

.custom_100 .github {
    background-color: #24292e;
    color: hsla(0,0%,100%,.7);
}